
<div class="container">
    <div class="dashboard">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="form-group">

 <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="image">
     
        <img [src]="imageUrl" height="200" >
    </div>
 </div>

 
 <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="image">
     
        <img [src]="imageUrl1" height="200" >
    </div>
 </div>

  
 <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="image">
     
        <img [src]="imageUrl2" height="200" >
    </div>
 </div>

 </div>
 </div>
 </div>
 </div>
 </div>
