<div class="container">
    <div class="dashboard">
        <div class="row">
<div class="col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="form-group">
            <label class="col-md-4 col-xs-4 col-sm-4">Latest News:</label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                <textarea class="col-md-12 col-xs-12 col-sm-12">

                </textarea>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
       <div class="image">
           <img src="../../../assets/images/photograph_img3.jpg"/>
       </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <button type="button" class="btn btn-primary">Sumbit</button>
    </div>
</div>
</div>
<div class="row newline">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="col-md-7 col-sm-7 col-xs-7">
            <div class="form-group">
                <label class="col-md-4 col-xs-4 col-sm-4">Latest Post:</label>
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <textarea class="col-md-12 col-xs-12 col-sm-12">
    
                    </textarea>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
           <div class="image">
               <img src="../../../assets/images/photograph_img3.jpg"/>
           </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <button type="button" class="btn btn-primary">Sumbit</button>
        </div>
    </div>
    </div>
    <div class="row newline">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 col-sm-4">Bussiness:</label>
                    <div class="col-md-8 col-xs-8 col-sm-8">
                        <textarea class="col-md-12 col-xs-12 col-sm-12">
        
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
               <div class="image">
                   <img src="../../../assets/images/photograph_img3.jpg"/>
               </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <button type="button" class="btn btn-primary">Sumbit</button>
            </div>
        </div>
        </div>
        <div class="row newline">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 col-sm-4">Popular Post:</label>
                        <div class="col-md-8 col-xs-8 col-sm-8">
                            <textarea class="col-md-12 col-xs-12 col-sm-12">
            
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                   <div class="image">
                       <img src="../../../assets/images/photograph_img3.jpg"/>
                   </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="button" class="btn btn-primary">Sumbit</button>
                </div>
            </div>
            </div>
            <div class="row newline">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <div class="form-group">
                            <label class="col-md-4 col-xs-4 col-sm-4">Fashion:</label>
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <textarea class="col-md-12 col-xs-12 col-sm-12">
                
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                       <div class="image">
                           <img src="../../../assets/images/photograph_img3.jpg"/>
                       </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <button type="button" class="btn btn-primary">Sumbit</button>
                    </div>
                </div>
                </div>
                <div class="row newline">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                                <label class="col-md-4 col-xs-4 col-sm-4">Technology:</label>
                                <div class="col-md-8 col-xs-8 col-sm-8">
                                    <textarea class="col-md-12 col-xs-12 col-sm-12">
                    
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                           <div class="image">
                               <img src="../../../assets/images/photograph_img3.jpg"/>
                           </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <button type="button" class="btn btn-primary">Sumbit</button>
                        </div>
                    </div>
                    </div>
                    <div class="row newline">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 col-sm-4">Sponser:</label>
                                    <div class="col-md-8 col-xs-8 col-sm-8">
                                        <textarea class="col-md-12 col-xs-12 col-sm-12">
                        
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                               <div class="image">
                                   <img src="../../../assets/images/photograph_img3.jpg"/>
                               </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <button type="button" class="btn btn-primary">Sumbit</button>
                            </div>
                        </div>
                        </div>
                        <div class="row newline">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <label class="col-md-4 col-xs-4 col-sm-4">Photography:</label>
                                        <div class="col-md-8 col-xs-8 col-sm-8">
                                            <textarea class="col-md-12 col-xs-12 col-sm-12">
                            
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                   <div class="image">
                                       <img src="../../../assets/images/photograph_img3.jpg"/>
                                   </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <button type="button" class="btn btn-primary">Sumbit</button>
                                </div>
                            </div>
                            </div>
                            <div class="row newline">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-4 col-sm-4">Games:</label>
                                            <div class="col-md-8 col-xs-8 col-sm-8">
                                                <textarea class="col-md-12 col-xs-12 col-sm-12">
                                
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                       <div class="image">
                                           <img src="../../../assets/images/photograph_img3.jpg"/>
                                       </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <button type="button" class="btn btn-primary">Sumbit</button>
                                    </div>
                                </div>
                                </div>

</div>


    </div>